################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Education.API/obj
/Education.Application/obj
/Education.Core/obj
