################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Education.API/obj
/Education.Application/obj
/Education.Core/obj
/.vs
/Education.API/bin/Debug/net6.0
/Education.Core/bin/Debug/net6.0
/Education.Application/bin/Debug
